*{box-sizing:border-box;}
legend{display: none;}
img{max-width: 100%;}
#header{margin-bottom: 20px; background-color: #f5f5f5; padding: 20px; border-bottom: 5px solid #000000; text-align: center;}
	#footer{font-size: 11px; text-align: center; border-top: 5px solid #000000; padding: 10px; background-color: #DD1B16; color: #fff; margin-top: 10px;}
h1, h2, h3, h4, h5{margin-top: 0;}
ul, ol{list-style: none; margin: 0; padding: 0;}
.voteCountBlock{text-align: center;}
.voteCountDown i,
.voteCountUp i{cursor: pointer;}
.alpha { padding-left: 0; }
.omega { padding-right: 0; }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar-default {
background-color: #DD1B16;
border-color: #A6120D;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #fff;
background-color: #A6120D;
}
.navbar-default .navbar-nav > li > a {
color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #e38e8c;
background-color: #A6120D;
}
.thumbnails h3{margin-top: 0; border-left: 3px solid #337AB7; padding-left: 10px;}

#edit-event-form ul{margin: 0; padding: 0; list-style: none;}
#edit-event-form ul li + li {margin-top: 20px;}
#edit-event-form ul li input + input {width: 49%; display: inline-block; margin-top: 15px;}
#edit-event-form ul li input + input + input {margin-left: 7px;}
.btn-holder{text-align: center; margin: 10px 0 10px;}
.btn-holder button{width: 30%;}
.edit-profile .btn-holder button{width: 100%;}

.event-prev{ margin-top: 20px;}
.req{color: #DD1B16;}
#edit-event-form .event-prev ul li + li {margin-top: 5px;}
.edit-profile form li + li {margin-top: 15px;}
.container-wrapper{min-height: 400px;}