<!DOCTYPE html>
<html lang="en" data-ng-app="eventsApp">
<head>
	<meta charset="UTF-8">
	<title>Angular App</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body class="ng-cloak">
	<div class="container" ng-controller="sampleCacheCtrl">
		<!-- Header -->
		<header class="row" id="header">
		<div class="col-lg-5 col-lg-push-3">
			<img data-ng-src="{{headFooterInfo.appLogo}}" alt="{{headFooterInfo.name}}">
		</div>
		</header>

		<!-- Main Navigation -->
		<nav class="navbar navbar-default row">
			<ul class="nav navbar-nav">
				<li ng-repeat="navLinks in menus.items">
					<a href="{{navLinks.href}}">{{navLinks.link}}</a>
				</li>
			</ul>
		</nav>

		<!-- Main Container -->
		<div class="container-wrapper cache-sample">
			<div class="row">
				<div class="col-lg-5">
					<ul class="row">
						<li class="col-lg-5">
							<label for="key">Key:</label> <input type="text" ng-model="key" class="form-control">
						</li>
						<li class="col-lg-5">
							<label for="value">Value:</label> <input type="text" ng-model="value" class="form-control">
						</li>
						<li class="col-lg-2">
							<label for="value">&nbsp</label> 
							<button class="btn btn-primary" ng-click="addToCache(key, value)">Add to Cache</button>
						</li>
					</ul>

					<ul class="row">
						<li class="col-lg-5">
							<label for="key">Enter Key:</label> <input type="text" ng-model="keyToRead" class="form-control">
						</li>
					</ul>
					
				</div>

			</div>
			<div class="well" style="margin-top:20px;">
				<h4><strong>Value from cache:</strong> {{readFromCache(keyToRead)}}</h4>
				<h4><strong>Cache ID:</strong> {{getCacheStats().id}}</h4>
				<h4><strong>Cache Capacity:</strong> {{getCacheStats().capacity}}</h4>
				<h4><strong>Cache Size:</strong> {{getCacheStats().size}}</h4>
			</div>
		</div>

		<!-- Footer -->
		<footer id="footer" class="row">{{headFooterInfo.compInfo}}</footer>
	</div>

	<script src="bower_components/jquery/jquery.min.js"></script>	
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/sample-cache-controller.js"></script>
	<script src="js/services/template-data.js"></script>
	<script src="js/services/navLinks.js"></script>
</body>
</html>