<!DOCTYPE html>
<html lang="en" data-ng-app="eventsApp">
<head>
	<meta charset="UTF-8">
	<title>Angular App</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body class="ng-cloak">
	<div class="container" ng-controller="editProfileCtrl">
		<!-- Header -->
		<header class="row" id="header">
		<div class="col-lg-5 col-lg-push-3">
			<img data-ng-src="{{headFooterInfo.appLogo}}" alt="{{headFooterInfo.name}}">
		</div>
		</header>

		<!-- Main Navigation -->
		<nav class="navbar navbar-default row">
			<ul class="nav navbar-nav">
				<li ng-repeat="navLinks in menus.items">
					<a href="{{navLinks.href}}">{{navLinks.link}}</a>
				</li>
			</ul>
		</nav>

		<!-- Main Container -->
		<div class="container-wrapper edit-profile">
			<div class="row">
				<div class="col-lg-2">
					<img src="images/profile.jpg" alt="profile">
				</div>
				<div class="col-lg-5">
					<form action="" name="editProfileForm">
						<fieldset>
							<legend>Edit Profile</legend>
							<ul>
								<li>
									<label for="uuname">Username</label>
									<input type="text" required placeholder="Username" id="uuname" class="form-control" ng-model="user.username" ng-pattern="/[a-zA-Z0-9\-\_]$/">
								</li>
								<li>
									<label for="uname">Password</label>
									<input type="password" required placeholder="Password" id="upassword" class="form-control" ng-model="user.password">
								</li>
								<li>
									<label for="uname">Name</label>
									<input type="password" required placeholder="Password" id="upassword" class="form-control" ng-model="user.name">
								</li>
								<li>
									<label for="uemail">Email Address</label>
									<input type="email" required placeholder="Email-id" id="uemail" class="form-control" ng-model="user.email">
								</li>
								<li>
									<label for="ubio">Bio</label>
									<textarea type="text" required placeholder="Bio" id="ubio" class="form-control" ng-model="user.bio" cols="30" rows="10"></textarea>
								</li>
								<li>
									<div class="row btn-holder">
										<div class="col-lg-6">
											<button ng-disabled="editProfileForm.$invalid" class="btn btn-primary">Save</button>
										</div>
										<div class="col-lg-6">
											<button class="btn btn-danger">Cancel</button>
										</div>
									</div>
								</li>
							</ul>
						</fieldset>
					</form>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer id="footer" class="row">{{headFooterInfo.compInfo}}</footer>
	</div>

	<script src="bower_components/jquery/jquery.min.js"></script>	
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/edit-profile-controller.js"></script>
	<script src="js/services/template-data.js"></script>
	<script src="js/services/navLinks.js"></script>
</body>
</html>