<!DOCTYPE html>
<html lang="en" data-ng-app="eventsApp">
<head>
	<meta charset="UTF-8">
	<title>Angular App</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body class="ng-cloak">
	<div class="container" data-ng-controller="eventCtrl">
		<!-- Header -->
		<header class="row" id="header">
		<div class="col-lg-5 col-lg-push-3">
			<img data-ng-src="{{headFooterInfo.appLogo}}" alt="{{headFooterInfo.name}}">
		</div>
		</header>

		<!-- Main Navigation -->
		<nav class="navbar navbar-default row">
			<ul class="nav navbar-nav">
				<li ng-repeat="navLinks in menus.items">
					<a href="{{navLinks.href}}">{{navLinks.link}}</a>
				</li>
			</ul>
		</nav>
		


		<!-- Main Container -->
		<div class="row">
	    <button class="btn btn-primary" ng-click="scrollToSession()">Anchor Scroll Button</button>
		<section>
			<h1>{{events.name | uppercase}}</h1>
			<div class="row">
				<div class="col-lg-6">
					<div><strong>Date: </strong> {{events.date | date:medium}}</div>
					<div><strong>Time: </strong> {{events.time}}</div>
					<div><strong>Price: </strong> {{40 | currency}}</div>
				</div>
				<div class="col-lg-6">
					<address>
					<div><strong>Address: </strong></div>
					{{events.location.address}}<br>
					{{events.location.city}}, {{events.location.province}}
					</address>
				</div>
			</div>
			<hr>
		</section>

		<section>
			<h3>Sessions</h3>
			<div class="filtOpt well clearfix">
				<ul class="list-inline">
					<li class="col-lg-2"><strong>Sort by:</strong>
								<select class="form-control" name="sortby" id="sortby" data-ng-model="sortorder">
									<option value="name">Name</option>
									<option value="-upVoteCount">Vote Count</option>
								</select>
				</li>
				<li class="col-lg-2"><strong>Filter by Level:</strong>
								<select class="form-control" name="sortby" id="sortby" data-ng-model="query.level">
									<option value="" selected="selected">All</option>
									<option value="introductory">Introductory</option>
									<option value="intermediate">Intermediate</option>
									<option value="advanced">Advanced</option>
								</select>
				</li>
				</ul>
			</div>
			<ul class="thumbnails">
				<li data-ng-repeat="sessions in events.sessions | orderBy:sortorder | filter:query" id="sessions{{sessions.id}}">
					<div class="col-lg-1 alpha">
						<div class="well voteCountBlock">
							<div class="voteCountUp">
								<i class="glyphicon glyphicon-chevron-up" data-ng-click="upVoteSession(sessions)"></i>
							</div>
							<div class="badge">
								<div class="session-count">{{sessions.upVoteCount}}</div>
							</div>
							<div class="voteCountDown">
								<i class="glyphicon glyphicon-chevron-down" data-ng-click="downVoteSession(sessions)"></i>
							</div>
						</div>
					</div>
					<div class="well col-lg-11">
						<h3 class="well-title">{{sessions.name}}<br>
							<small>{{sessions.creatorName}}</small>
						</h3>
						<div><strong>Duration:</strong> <span class="label label-danger">{{sessions.duration | durations}}</span></div>
						<div><strong>Level:</strong> {{sessions.level}}</div>
						<div><strong>Abstract:</strong> {{sessions.abstract}}</div>
						<div></div>
					</div>
				</li>
			</ul>
		</section>
		</div>

		<!-- Footer -->
		<footer id="footer" class="row">{{headFooterInfo.compInfo}}</footer>
	</div>

	<script src="bower_components/jquery/jquery.min.js"></script>	
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/event-controllers.js"></script>
	<script src="js/services/template-data.js"></script>
	<script src="js/services/navLinks.js"></script>
	<script src="js/services/eventData.js"></script>
	<script src="js/filters.js"></script>
</body>
</html>