<!DOCTYPE html>
<html lang="en" data-ng-app="eventsApp">
<head>
	<meta charset="UTF-8">
	<title>Angular App</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body class="ng-cloak">
	<div class="container" ng-controller="localSampleCtrl">
		<!-- Header -->
		<header class="row" id="header">
		<div class="col-lg-5 col-lg-push-3">
			<img data-ng-src="{{headFooterInfo.appLogo}}" alt="{{headFooterInfo.name}}">
		</div>
		</header>

		<!-- Main Navigation -->
		<nav class="navbar navbar-default row">
			<ul class="nav navbar-nav">
				<li ng-repeat="navLinks in menus.items">
					<a href="{{navLinks.href}}">{{navLinks.link}}</a>
				</li>
			</ul>
		</nav>

		<!-- Main Container -->
		<div class="container-wrapper cache-sample">
			<div class="well">
				<p>Example of <code>$locale</code> service</p>
				<h4>{{myDate | date:myFormat}}</h4>
			</div>
			<br>

			<div class="well">
				<p>Example of <code>$timeout</code> service</p>
				<h3>Name: {{name}}</h3>
				<button class="btn btn-primary" ng-click="cancel()">Cancel Timeout</button>
			</div>
		</div>

		<!-- Footer -->
		<footer id="footer" class="row">{{headFooterInfo.compInfo}}</footer>
	</div>

	<script src="bower_components/jquery/jquery.min.js"></script>	
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/local-sample-controller.js"></script>
	<script src="js/services/template-data.js"></script>
	<script src="js/services/navLinks.js"></script>
</body>
</html>