<!DOCTYPE html>
<html lang="en" data-ng-app="eventsApp">
<head>
	<meta charset="UTF-8">
	<title>Angular App</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body class="ng-cloak">
	<div class="container" ng-controller="editEventCtrl">
		<!-- Header -->
		<header class="row" id="header">
		<div class="col-lg-5 col-lg-push-3">
			<img data-ng-src="{{headFooterInfo.appLogo}}" alt="{{headFooterInfo.name}}">
		</div>
		</header>

		<!-- Main Navigation -->
		<nav class="navbar navbar-default row">
			<ul class="nav navbar-nav">
				<li ng-repeat="navLinks in menus.items">
					<a href="{{navLinks.href}}">{{navLinks.link}}</a>
				</li>
			</ul>
		</nav>

		<!-- Main Container -->
		<div class="row">
			
			<form action="" name="newEventForm"  id="edit-event-form">
				<fieldset class="col-lg-6">
					<legend>New Event</legend>
					<ul>
						<li>
							<label for="ename">Event Name <span class="req">*</span> </label>
							<input class="form-control" type="text" id="ename" required ng-model="event.ename" placeholder="Name of your event...">
						</li>
						<li>
							<label for="edate">Event Date <span class="req">*</span></label>
							<input class="form-control" type="text" id="edate" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="DD/MM/YYYY">
						</li>
						<li>
							<label for="etime">Event Time</label>
							<input class="form-control" type="text" id="etime" ng-model="event.time" placeholder="Start and end time...">
						</li>
						<li>
							<label for="eaddress">Event Location <span class="req">*</span></label>
							<input class="form-control" type="text" id="eaddress" required ng-model="event.address" placeholder="Address of event...">
							<input class="form-control" type="text" id="ecity" required ng-model="event.city" placeholder="City..."> <input class="form-control" type="text" id="eprovience" required ng-model="event.provience" placeholder="Provience...">
						</li>
						<li>
							<label for="eimgurl">Image</label>
							<input class="form-control" type="url" id="eimgurl" ng-model="events.image" placeholder="URL of event image...">

						</li>
					</ul>
					<div class="btn-holder">
						<button type="submit" class="btn btn-primary" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)">Save</button>
						<button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
					</div>
				</fieldset>
				
				

				<div class="col-lg-6 event-prev well">
					<h4 class="alert alert-success"><strong>Event Preview</strong></h4>
					<ul>
						<li ng-show="event.ename"><strong>Name: </strong>{{event.ename}}</li>
						<li ng-show="event.date"><strong>Date: </strong>{{event.date}}</li>
						<li ng-show="event.time"><strong>Time: </strong>{{event.time}}</li>
						<li ng-show="event.address">
							<strong>Location: </strong>{{event.address}}<span ng-show="event.address">,</span> <br>
							{{event.city}}<span ng-show="event.city">,</span> {{event.provience}}
						</li>
						<li>
							<div id="image-wrapper">
								<span ng-show="!events.image"><img src="images/img-prev.jpg" alt=""></span>
								<span ng-show="events.image"><img ng-src="{{events.image}}" alt="" src=""></span>
							</div>

						</li>
					</ul>
				</div>

				
			</form>

		</div>

		<!-- Footer -->
		<footer id="footer" class="row">{{headFooterInfo.compInfo}}</footer>
	</div>

	<script src="bower_components/jquery/jquery.min.js"></script>	
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/edit-event-controller.js"></script>
	<script src="js/services/template-data.js"></script>
	<script src="js/services/navLinks.js"></script>
	<script src="js/services/eventData.js"></script>
</body>
</html>